.form-container {
    display: flex;
    flex-flow: column;
    width: 60rem;
}

.form-container h1 {
    margin-bottom: 2rem;
}

.form-control {
    display: flex;
    flex-flow: column;
    margin: 1rem 0;
}

.form-control label {
    margin-bottom: 1rem;
}

.form-control input {
    border: var(--border);
    border-radius: 3px;
    padding: 1rem 1.5rem;
}

.form-control select {
    border: var(--border);
    padding: 1rem 1.5rem;
}

.form-control textarea {
    border: var(--border);
    padding: 1rem 1.5rem;
    min-height: 20rem;
}

.form-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
