.articles-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.article {
    flex: 30%;
    margin: 1rem;
    min-height: 41rem;
    cursor: pointer;
}
.article:hover .img-container {
    transform: scale(1.2);
}
.article h2 {
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
}

.img-container {
    height: 30rem;
    background-size: cover;
    transition: transform 0.4s;
}
