.articles-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.article {
    flex: 30%;
    margin: 1rem;
    min-height: 41rem;
    cursor: pointer;
}
.article:hover .img-container {
    transform: scale(1.2);
}

.newsfeed-content h2 {
    font-size: 2rem;
    padding: 0 1rem;
}
.article h3 {
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
}

.img-container {
    height: 30rem;
    background-size: cover;
    transition: transform 0.4s;
}
.article-author {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding-right: 2rem;
}

.article-author p {
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}
.newsfeed-container {
    display: flex;
    flex-flow: row nowrap;
}
.category-container {
    flex: 20rem;
}

.category-container li {
    margin: 1rem 0;
    transition: color 0.3s;
}

.category-container li:hover {
    color: var(--primary);
    cursor: pointer;
}
.cat-active {
    color: var(--primary);
    font-weight: bold;
}
